body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  background: #050527;
  color: #cab604;
  border-bottom: 2px solid #3b5e5f;
  z-index: 1;

  > * {
    margin: 1rem 4rem;
  }

  span {
    cursor: pointer;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin: 1rem 4rem;
}

svg {
  cursor: pointer;
  text {
    font-size: .75rem;
  }
}

div#about {
  z-index: -1;

  &.hide {
    position: absolute;
    top: -10em
  }

  &.show {
    top: 10em;
  }
}

.content {
  display: flex;
}
