$primary: #050527;
$secondary:#cab604;
$tertiary: #3b5e5f; 

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background: $primary;
  color: $secondary;
  border-bottom: 2px solid $tertiary;
  z-index: 1;

  > * {
    margin: 1rem 4rem;
  }

  span {
    padding-top: .25em;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin: 6rem 4rem;
  height: 100vh;
}

#about {
  margin: 14rem 4rem;
  height: 60vh;
  font-size: 1.5rem;
}

svg {
  cursor: pointer;
  text {
    font-size: .75rem;
  }
}

.content {
  display: flex;
}

.d3-tip {
  padding: 1rem;
  background: $primary;
  color: #fff;
  top: 2em;
}
